body {
    margin: 0px;
    font-family: Helvetica, "Myriad Pro", Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}

@media (min-width: 980px){
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-image: url("../images/header-bg.png");
        font-size: 13px;
        text-transform: uppercase;
        height: 30px;
        display: block;
        padding: 20px 0;
        z-index: 50;
    }
    .header {
        width: 71%;
        margin: auto;
    }
    .nav-mini{
        display: none;
    }
/*
    nav {
        margin: -20px 0;
    }
*/
    .logo {
        float: left;
        margin: 0px;
    }
    .logo-image {
        height: 22px;
    }
    .nav {
        float: right;
    }
    .nav>nav {
        margin: -20px 0px;
        color: #fff;
        font-weight: bold;
        display: block;
    }
    nav li {
        margin-left: -2px;
        width: inherit;
        display: inline-block;
        padding: 0px 14px 8px 14px;
        line-height: 56px;
    }
    nav .active {
        border-top: 4px solid #a5ce3a;
    }
    nav li:hover {
        border-top: 4px solid #a5ce3a;
    }
    #banner {
        background: transparent url("../images/anh5.jpg") no-repeat;
        background-position: 50% 30%;
        background-size: cover;
        height: 360px;
        margin: 69px 0px 20px;
    }
    #human-genome {
        margin-top: -20px;
        background: transparent url("../images/human-genome-bg.png") no-repeat scroll top left;
        background-size: cover;
    }
    .full-panel li {
        font-weight: bold;
        color: #454545;
        font-size: 15px;
        display: inline-block;
        padding: 12px 18px;
        margin: 30px 15px 2px 0;
        border-radius: 5px;
    }
    .full-panel{
        margin: 0px 0px 70px;
    }
    .full-panel li:hover {
        background: #f8f8f8;
    }
    .full-panel li.active {
        background: #f3f3f3;
    }
    .contain {
        width: 72%;
        /*    display: inline-block;*/
        margin: auto;
        vertical-align: text-top;
    }
    .left-panel {
        float: left;
        width: 47%;
    }
    .right-panel {
        float: right;
        width: 47%;
    }
    .left-panel>img, .right-panel>img {
        margin-top: 40px;
        width: 100%;
        height: auto;
    }
    .contain:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
    .left-panel>h1, .right-panel>h1 {
        font-size: 35px;
        font-weight: 400;
        line-height: 150%;
    }
    p {
        font-size: 16px;
        text-align: justify;
        line-height: 150%;
    }
    hr {
        display: none;
        /*    color:  #ddd;*/
    }
    div.hr {
        background: #ddd;
        height: 1px;
    }
    #vehicle-referral {
        background: transparent url("../images/referatruck-bg.jpg") no-repeat scroll top left;
        background-size: cover;
    }
    .referatruck-link {
        text-indent: -9999px;
        height: 65px;
        width: 186px;
        display: block;
        margin-top: 36px;
        background: transparent url(../images/website.png) no-repeat scroll left top;
        background-size: 100% !important;
        cursor: pointer;
    }
    #hotel-booking {
        background: transparent url("../images/ratechex-bg.jpg") no-repeat scroll top left;
        background-size: cover;
    }
    .call-action {
        background: transparent url(../images/specific-transparent.png) no-repeat center center;
        background-size: 100% !important;
        text-indent: -9999px;
        height: 65px;
        width: 200px;
        margin-top: 36px;
        display: block;
    }
    #complaint {
        background: transparent url("../images/complaint-bg.jpg") no-repeat scroll top left;
        background-size: cover;
    }
    #scout {
        background: transparent url("../images/scout-bg.jpg") no-repeat scroll top left;
        background-size: cover;
    }
    #multi-logo {
        text-align: center;
        padding-bottom: 50px;
    }
    footer {
        background: #2a2d32;
        border-top: 2px solid #a5ce3a;
        padding-bottom: 40px;
    }
    footer>.contain>.full>img {
        float: left;
        display: block;
    }
    footer>.contain>.full>.left {
        width: 30%;
        float: left;
        clear: both;
    }
    footer>.contain>.full>img{
        height: 18px;
        margin-bottom: 30px;
    }
    footer>.contain>.full>.translate{
        float: right;
    }
    footer>.contain>.mini-menu {
        width: 70%;
        float: right;
    }
    footer>.contain>.translate {
        float: right;
    }
    footer>.contain {
        padding-top: 30px;
    }
    .social .linkedin {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -94px -1px;
        margin: 0 25px 20px 0;
    }
    .social .facebook {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -47px -1px;
        margin: 0 25px 20px 0;
    }
    .social .youtube {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: 0px -47px;
        margin: 0 25px 20px 0;
    }
    .social .slideshare {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -47px -47px;
        margin: 0 25px 20px 0;
    }
    .social .twitter {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: 0px -1px;
        margin: 0 25px 20px 0;
    }
    .social .mail {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -94px -1px;
        margin: 0 25px 20px 0;
    }
    .social .twitter, .social .facebook, .social .mail, .social .slideshare, .social .youtube, .social .linkedin {
        opacity: 0.65;
    }
    .social .twitter:hover, .social .facebook:hover, .social .mail:hover, .social .slideshare:hover, .social .youtube:hover, .social .linkedin:hover {
        opacity: 1;
    }
    .mini-menu>ul {
        list-style-type: none;
        padding: 0px;
        text-transform: uppercase;
    }
    .mini-menu>ul>li {
        display: inline-table;
        font-size: 12px;
        color: #fff;
        margin-right: 10px;
    }
    .mini-menu>ul>li>ul {
        text-transform: capitalize;
        margin-left: -23px;
    }
    .mini-menu>ul>li>ul>li {
        opacity: 0.65;
        list-style: disc;
        left: 0px;
        position: relative;
        line-height: 20px;
    }
    .mini-menu>ul>li>ul>li:hover {
        opacity: 1;
    }
}
@media (max-width:767px){
/*    mobile*/
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-image: url("../images/header-bg.png");
        font-size: 13px;
        text-transform: uppercase;
        display: block;
        padding: 15px 0 15px;
        z-index: 50;
    }
    .header{
        width: 90%;
        margin: auto;
    }
    .nav-mini{
        background: none;
        border: none;
        float: right;
    }
    .nav-mini>.icon-bar{
        display: block;
        margin: 2px 0px;
        width: 20px;
        height: 4px;
        background-color: #f5f5f5;
        border-radius: 3px;
    }
    .contain{
        width: 100%;
        margin: auto;
    }
    .contain>.left-panel{
        width: 100%;
    }
    hr {
        display: none;
        /*    color:  #ddd;*/
    }
    div.hr {
        background: #ddd;
        height: 1px;
    }
    header img{
        height: 19px;
    }
    header li:first-child{
        margin-top:15px;
    }
    header li{
        display: none;
        text-align: center;
        list-style: none;
        padding: 8px 0px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        
        border-bottom:1px solid #747469;
    }
    header li:last-child{
        border-bottom: none;
    }
    #banner{
        background: transparent url("../images/anh51.jpg") no-repeat top left;
        background-size: cover;
        height: 280px;
        margin-top: 50px;
    }
    .full-panel >li {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .full-panel>li:hover {
        background: #f8f8f8;
    }
    .full-panel>li.active {
        background: #f3f3f3;
    }
    .contain{
        width: 90%;
    }
    .left-panel>h1, .right-panel>h1 {
        text-align: center;
        font-size: 35px;
        font-weight: 400;
        margin: 0px;
        padding: 20px 0px;
        
    }
    .left-panel>img, .right-panel>img{
        width: 100%;
        margin-top: 20px;
    }
    .left-panel p, .right-panel p{
        text-align: justify;
        line-height: 150%;
    }
    #vehicle-referral {
        background: transparent url("../images/referatruck-bg.jpg") no-repeat scroll center top;
        background-size: cover;
    }
    .referatruck-link {
        text-indent: -9999px;
        height: 65px;
        width: 186px;
        display: block;
        margin-top: 36px;
        background: transparent url(../images/website.png) no-repeat scroll left top;
        background-size: 100% !important;
        cursor: pointer;
    }
    #hotel-booking {
        background: transparent url("../images/ratechex-bg.jpg") no-repeat scroll top left;
        background-size: cover;
    }
    .call-action {
        background: transparent url(../images/specific-transparent.png) no-repeat center center;
        background-size: 100% !important;
        text-indent: -9999px;
        height: 65px;
        width: 200px;
        margin-top: 36px;
        padding-bottom: 30px;
        display: block;
    }
    #complaint {
        background: transparent url("../images/complaint-bg.jpg") no-repeat scroll top left;
        background-size: cover;
    }
    #scout {
        background: transparent url("../images/scout-bg.jpg") no-repeat scroll top left;
        background-size: cover;
    }
    #multi-logo {
        text-align: center;
        padding-bottom: 50px;
    }
    #multi-logo>.contain{
        width: 100%;
    }
    #multi-logo img{
        width: 100%;
    }
    footer {
        background: #2a2d32;
        border-top: 2px solid #a5ce3a;
        overflow: auto;
        padding-bottom: 40px;
    }
    footer>.contain>.full>img{
        display: block;
        margin: auto;
        height: 19px;
    }
    footer>.contain>.full>.translate{
        display: block;
        margin: 20px 0px;
        text-align: center;
    }
    footer>.contain>.left {
        width: 100%;
        float: left;
        text-align: center;
    }
    footer>.contain>.mini-menu {
        width: 90%;
        margin: auto;        
    }
    footer>.contain {
        padding-top: 30px;
    }
    footer>.contain>.left>img {
        height: 18px;
        margin-bottom: 30px;
    }
    .social .linkedin {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -94px -1px;
        margin: 0 25px 20px 0;
    }
    .social .facebook {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -47px -1px;
        margin: 0 25px 20px 0;
    }
    .social .youtube {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: 0px -47px;
        margin: 0 25px 20px 0;
    }
    .social .slideshare {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -47px -47px;
        margin: 0 25px 20px 0;
    }
    .social .twitter {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: 0px -1px;
        margin: 0 25px 20px 0;
    }
    .social .mail {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -94px -1px;
        margin: 0 25px 20px 0;
    }
    .social .twitter, .social .facebook, .social .mail, .social .slideshare, .social .youtube, .social .linkedin {
        opacity: 0.65;
        margin: auto 20px auto 20px;
    }
    .social .twitter:hover, .social .facebook:hover, .social .mail:hover, .social .slideshare:hover, .social .youtube:hover, .social .linkedin:hover {
        opacity: 1;
    }
    .social .row{
        width: 100%;
        height: 100px;
        text-align: center;
    }
    .mini-menu ul {
        width: 100%;
        list-style-type: none;
        padding: 0px;
        text-transform: uppercase;
    }
    .mini-menu ul li {
        text-align: center;
        margin: 5px 0px;
        width: 100%;
        font-size: 12px;
        color: #fff;
    }
    .mini-menu>ul>li>ul {
        margin: 15px 0px;
        text-transform: capitalize;
    }
    .mini-menu>ul>li>ul>li {
        opacity: 0.65;
        line-height: 20px;
    }
    .mini-menu>ul>li>ul>li:hover {
        opacity: 1;
    }
}
@media (max-width: 979px) and (min-width:768px){
    header {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        background-image: url("../images/header-bg.png");
        font-size: 13px;
        text-transform: uppercase;
        display: block;
        padding: 15px 0 15px;
        z-index: 50;
    }
    .header{
        width: 90%;
        margin: auto;
    }
    .nav-mini{
        background: none;
        border: none;
        float: right;
    }
    .nav-mini>.icon-bar{
        display: block;
        margin: 2px 0px;
        width: 20px;
        height: 4px;
        background-color: #f5f5f5;
        border-radius: 3px;
    }
    .contain{
        width: 10%;
        margin: auto;
    }
    hr {
        display: none;
        /*    color:  #ddd;*/
    }
    div.hr {
        background: #ddd;
        height: 1px;
    }
    header img{
        height: 19px;
    }
    header li:first-child{
        margin-top:15px;
    }
    header li{
        display: none;
        text-align: center;
        list-style: none;
        padding: 8px 0px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        
        border-bottom:1px solid #747469;
    }
    header li:last-child{
        border-bottom: none;
    }
    #banner{
        background: transparent url("../images/anh5.jpg") no-repeat bottom right;
        background-size: cover;
        height: 280px;
        margin-top: 50px;
    }
    #human-genome {
        margin-top: -20px;
        background: transparent url("../images/human-genome-bg.png") no-repeat scroll top left;
        background-size: cover;
    }
    .full-panel li {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .full-panel li:hover {
        background: #f8f8f8;
    }
    .full-panel li.active {
        background: #f3f3f3;
    }
    .contain {
        width: 95%;
        /*    display: inline-block;*/
        margin: auto;
        vertical-align: text-top;
    }
    .left-panel {
        float: left;
        width: 45%;
    }
    .right-panel {
        float: right;
        width: 47%;
    }
    .left-panel>img, .right-panel>img {
        margin-top: 60px;
        width: 100%;
        height: auto;
    }
    .contain:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
    .left-panel>h1, .right-panel>h1 {
        font-size: 35px;
        font-weight: 400;
    }
    p {
        font-size: 16px;
        text-align: justify;
        line-height: 150%;
    }
    hr {
        display: none;
        /*    color:  #ddd;*/
    }
    div.hr {
        background: #ddd;
        height: 1px;
    }
    #vehicle-referral {
        background: transparent url("../images/referatruck-bg.jpg") no-repeat scroll center top;
        background-size: cover;
    }
    .referatruck-link {
        text-indent: -9999px;
        height: 65px;
        width: 186px;
        display: block;
        margin-top: 36px;
        background: transparent url(../images/website.png) no-repeat scroll left top;
        background-size: 100% !important;
        cursor: pointer;
    }
    #hotel-booking {
        background: transparent url("../images/ratechex-bg.jpg") no-repeat scroll top left;
        background-size: cover;
    }
    .call-action {
        background: transparent url(../images/specific-transparent.png) no-repeat center center;
        background-size: 100% !important;
        text-indent: -9999px;
        height: 65px;
        width: 200px;
        margin: 36px 0px;
        display: block;
    }
    #complaint {
        background: transparent url("../images/complaint-bg.jpg") no-repeat scroll top right;
        background-size: cover;
    }
    #scout {
        background: transparent url("../images/scout-bg.jpg") no-repeat scroll center center;
        background-size: cover;
    }
    #multi-logo {
        text-align: center;
        padding-bottom: 50px;
    }
    footer {
        background: #2a2d32;
        border-top: 2px solid #a5ce3a;
        padding-bottom: 20px;
    }
/*
    footer>.contain>.left {
        width: 32%;
        float: left;
    }
*/
    footer>.contain>.full{
        width: 34%;
        float: left;
    }
    footer>.contain>.full>img{
        height: 18px;
        margin-bottom: 30px;
    }
    footer>.contain>.full>.translate{
        float: right;
    }
    footer>.contain>.mini-menu {
        width: 62%;
        float: right;
    }
    footer>.contain>.translate {
        float: right;
    }
    footer>.contain {
        padding-top: 30px;
    }
    .social .linkedin {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -94px -1px;
        margin: 0 25px 20px 0;
    }
    .social .facebook {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -47px -1px;
        margin: 0 25px 20px 0;
    }
    .social .youtube {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: 0px -47px;
        margin: 0 25px 20px 0;
    }
    .social .slideshare {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -47px -47px;
        margin: 0 25px 20px 0;
    }
    .social .twitter {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: 0px -1px;
        margin: 0 25px 20px 0;
    }
    .social .mail {
        width: 46px;
        height: 46px;
        background: transparent url("../images/social-icons.png");
        display: inline-block;
        background-position: -94px -1px;
        margin: 0 25px 20px 0;
    }
    .social .twitter, .social .facebook, .social .mail, .social .slideshare, .social .youtube, .social .linkedin {
        opacity: 0.65;
    }
    .social .twitter:hover, .social .facebook:hover, .social .mail:hover, .social .slideshare:hover, .social .youtube:hover, .social .linkedin:hover {
        opacity: 1;
    }
    .mini-menu>ul {
        list-style-type: none;
        padding: 0px;
        text-transform: uppercase;
    }
    .mini-menu>ul>li {
        display: inline-table;
        font-size: 12px;
        color: #fff;
        margin: 10px;
    }
    .mini-menu>ul>li>ul {
        text-transform: capitalize;
        margin-left: -23px;
    }
    .mini-menu>ul>li:nth-child(1){
        width: 43%;
    }
    .mini-menu>ul>li:nth-child(4){
        width: 43%;
    }
    .mini-menu>ul>li>ul>li {
        opacity: 0.65;
        list-style: disc;
        left: 0px;
        position: relative;
        line-height: 20px;
    }
    .mini-menu>ul>li>ul>li:hover {
        opacity: 1;
    }
    .row{
        width: 100%;
    }
}